<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3> {{artist.first_name}} {{artist.last_name}}! </h3>
        <p><a href="/paintings/new">Add a painting</a></p>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for painting in all_paintings %}
                    <tr>
                        <td>{{painting.title}}</td>
                        <td>{{painting.description}}</td>
                        <td>
                            <a href="/paintings/{{painting.id}}">View</a> 
                            {% if painting.artist_id == artist.id %}
                                | <a href="/paintings/delete/{{painting.id}}">Delete</a> |  <a href="/paintings/edit/{{painting.id}}">Edit</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/logout">Log Out</a>

    </div>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
</body>
</html>