<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3>Create a Painting!</h3>
        <form action="/paintings/update" method="post">
            <input type="hidden" name="id" value="{{painting.id}}">
            <input type="hidden" name="artist_id" value="{{painting.artist_id}}">
            <div>
                <label>Band Name</label>
                <input type="text" name="band_name" value="{{painting.band_name}}">
            </div>
            <div>
                <label>Date</label>
                <input type="date" name="date" value="{{painting.date}}">
            </div>
            <div>
                <label>Description</label>
                <textarea name="description" cols="30" rows="10">{{painting.description}}</textarea>
            </div>
            <button>Create</button>
        </form>

    </div>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
</body>
</html>