<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="flash text-danger">{{message}}</p>                  
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="form-row">

            <form action="/register" method="post">
                <h3>Register</h3>
                <div>
                    <label>First Name</label>
                    <input type="text" name="f_name">
                </div>
                <div>
                    <label>Last Name</label>
                    <input type="text" name="l_name">
                </div>
                <div>
                    <label>Email</label>
                    <input type="text" name="email">
                </div>
                <div>
                    <label>Password</label>
                    <input type="password" name="password">
                </div>
                <div>
                    <label>Confirm Password</label>
                    <input type="password" name="confirm_pw">
                </div>
                <button>Submit</button>
            </form>
            <form action="/login" method="Post">
                <h3>Login</h3>
                <div>
                    <label>Email: </label>
                    <input type="text" name="email">
                </div>
                <div>
                    <label>Password:  </label>
                    <input type="text" name="password">
                </div>
                <button>Submit</button>
            </form>
        </div>

    </div>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
</body>
</html>